body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('images/emojibg.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.button {
    text-decoration: none;
    color: rgba(71, 17, 208, 0.8);
    background: rgb(39, 189, 231);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

.container {
    text-align: center;
}

.game-info {
    margin-bottom: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.6s, visibility 0.6s;
    transform-style: preserve-3d;
    background-image: url('images/emojibg4.png');
    background-size: cover  ;
    background-position: center;
    background-repeat: no-repeat;
}

.tile > * {
    visibility: hidden;
}

.tile.flipped {
    transform: rotateY(180deg);
    background-color: #ff0303;
}
.tile.flipped > * {
    visibility: visible;
}

.hidden {
    display: none;
}

@media (max-width: 500px) {
    #gameBoard {
        grid-template-columns: repeat(3, 1fr);
    }

    .tile {
        width: 80px;
        height: 80px;
        font-size: 30px;
    }
}